<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidate Login</title>
</head>

<body>
    <p>Candidate Login</p>
    <form method="post">
        <label>Email:</label>
        <input type="email" name="email" id="email">
        <br>
        <label>Password</label>
        <input type="password" name="password" id="password">

    </form>
</body>

</html>