<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page First</title>
</head>

<body>

    <form method="post" th:action="@{/create}" th:object="${candidate}">
        <label>Nome:</label>
        <input type="text" name="name" id="name">
        <br>

        <label>Email:</label>
        <input type="email" name="email" id="email">
        <br>

        <label>Password:</label>
        <input type="password" name="password" id="password">
        <br>

        <button>Cadastra Candidato</button>

    </form>
</body>

</html>