<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Listagem de Vagas</title>
</head>

<body class="bg-slate-200 h-screen flex flex-col">
    <nav class="bg-zinc-900 p-4 flex justify-between items-center">
        <div>
            <a href="/company/jobs" class="text-white rounded-md px-3 py-2 text-lg font-semibold">Cadastro</a>
        </div>
        <div>
            <a href="/company/jobs/list"
                class="bg-zinc-600 text-white rounded-md px-3 py-2 text-lg font-semibold">Listagem das Vagas</a>
        </div>
        <div>
            <a href="/company/logout"
                class="hover:bg-zinc-700 text-white rounded-md px-3 py-2 text-lg font-semibold">Logout</a>
        </div>
    </nav>

    <p class="text-center mt-4 text-3xl pt-5 font-bold">Listagem de Vagas</p>
    <div class="flex-grow flex pt-10 justify-center">
        <div class="w-11/12 text-center">
            <table class="w-full bg-gray-300">
                <thead>
                    <tr class="bg-gray-700 text-white font-bold">
                        <th class="text-center py-2 px-4">ID</th>
                        <th class="text-center py-2 px-4">Nome</th>
                        <th class="text-center py-2 px-4">Descrição</th>
                        <th class="text-center py-2 px-4">Benefícios</th>
                        <th class="text-center py-2 px-4">Nível</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="job: ${jobs}" class="bg-gray-300 font-semibold">
                        <td class="border px-4 py-2" th:text="${job.id}"></td>
                        <td class="border px-4 py-2" th:text="${job.name}"></td>
                        <td class="border px-4 py-2" th:text="${job.description}">Description</td>
                        <td class="border px-4 py-2" th:text="${job.benefits}">Benefícios</td>
                        <td class="border px-4 py-2" th:text="${job.level}">Level</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>